body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: thin;
    margin: 0;
    padding: 0;
    color: #C67AFF;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;

    border: 40px solid transparent;
    padding: 20px;
    border-image-source: url(border-round.png);
    border-image-repeat: round;
    border-image-slice: 40;
}

#bio_pic {
    height: 180px;
    margin: 10px;
    float: left;
}

#text1 {
    box-sizing: border-box;
    /* border-radius: 2px;
    border-style: solid; */
    color: #C67AFF;
    padding: 0px 10px;
    overflow: hidden; 
}

h1 {
    margin-bottom: 20px;
    padding: 0px 10px;
    overflow: hidden; 
    color: #fd4444;
}

h2 {
    margin-top: 40px;
}

ul {
    list-style-type: none;
    padding: 0;
}
li {
    margin-bottom: 20px;
    border-top: solid;
}

a {
    text-decoration: none;
    color: orange;
    font-weight: bold;
}

.textbox {
    /* border-radius: 2px;
    border-style: solid;
    border-color: white; */
    padding: 0px;
    width: 100%;
    box-sizing: border-box;
}